input {
  @include placeholder {
    font-style: italic;
    font-weight:300;
    color: #aaa;
  }
}

.pure-button-primary { @extend .pure-button; }

.FlexInput {
  display: flex;
  margin-bottom: 1em;
}

.FlexInput-field {
  flex: 1;
  &:not(:first-child) {
    border-left: 0;
  }
  &:not(:last-child) {
    border-right: 0;
  }
}

.FlexInput-item {
}

.FlexInput-field, .FlexInput-item {
  border: 1px solid hsla(31, 15%, 50%, 0.25);
  padding: 0.5em 0.75em;
  &:first-child {
    border-radius: 2px 0 0 2px;
  }
  &:last-child {
    border-radius: 0 2px 2px 0;
  }
}
