body {
  background: #f8f8f8;
  color: $body-color;
  font-weight:300;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
  }
  &.pure-button-primary:hover {
    color:white;
  }
}

#container {
  @include outer-container;
}


h1,h2,h3 {
  @extend .header-fancy;
  font-weight: 300;
}


.action-tiny {
  @extend .zeta;
  margin:0;
  padding:0;
}

