@import '_normalize.scss/normalize';
@import 'fira/fira';

$max-width: 48rem;
$body-font-family: 'Fira Sans';
//$visual-grid: true;

@import 'bourbon/bourbon';
@import 'neat/neat';
@import "solarized/scss/solarized";
@import 'pure/buttons';
@import 'button';
@import 'type';
@import 'grid';
@import 'form';
@import 'util';
@include output-grid-classes;

$link-color:$solarized-blue;
$link-hover-color: darken($solarized-blue, 12%);

@import 'global';
@import 'site-header';

@import 'shared/chat';

@import 'views/index';
@import 'views/gamelobby';
@import 'views/game';

