$max-width: 48rem;
//$visual-grid: true;

@import '_normalize.scss/normalize';
@import 'bourbon/bourbon';
@import "solarized/scss/solarized";
@import 'neat/neat';
@import 'type';
@import 'grid';
@import 'util';
@include output-grid-classes;

@import 'pure/buttons';

$link-color:$solarized-blue;
$link-hover-color: darken($solarized-blue, 12%);


body {
  background: #f8f8f8;
  font-family: sans-serif;
  color: $body-color;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
  }
  &.pure-button-primary:hover {
    color:white;
  }
}

#container {
  @include outer-container;
}

.body-top {
  margin-top:2rem;
}

.site-title {
  @extend .beta;
  color: $solarized-red;
  @extend .pull-left;
  margin-bottom:0.4rem;
}

.site-header {
  margin-bottom: 2.5rem;
  padding-top:0.5rem;
  @include clearfix;
  border-bottom: 1px solid #ddd;
}

.auth-status {
  @extend .pull-right;
  @extend .epsilon;
  margin-bottom:0;
  color: lighten($body-color, 20%);
}

.play-now {
  @extend .pure-button;
  @extend .pure-button-primary;
  margin-right:1rem;
}
