extends layout

block content
  .r.body-top
    .g-12.blurb
      p.alpha-lh
        span.hilight-color BACRO
        |  is a multi-player game where people create 
        a(href="http://en.wikipedia.org/wiki/Bacronym") bacronyms
        |  to earn each other's votes.
  .r
    .g-12
      h2 Example:
      p.beta
        span.hilight-color B
        | acro  
        span.hilight-color A
        | ims for 
        span.hilight-color C
        | huckles 
        span.hilight-color R
        | esulting in 
        span.hilight-color O
        | bituaries 
  .r
    .g-12
      a.gamma(href="/login/google")
        i
        | Log in with Google

