
.icon-ok:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e800'; } /* '' */
.icon-award:before { content: '\e802'; } /* '' */
.icon-circle:before { content: '\e801'; } /* '' */