.Game {
}

.RoundBadge {
  //@include transition(background-color 0.5s ease-out);
  @include TimerBg(15rem);
  background-color:$solarized-orange;
  color: rgba(#fff, 0.8);
  padding:1px 0;
  box-sizing: border-box;
  height:15rem;
  margin-bottom:2rem;
  float:left;
  width:48%; 
  margin-right:4%;
}

$roundColors:
  nth($solarized-accent-colors, 6),
  nth($solarized-accent-colors, 3),
  nth($solarized-accent-colors, 7),
  nth($solarized-accent-colors, 4),
  nth($solarized-accent-colors, 8),
  nth($solarized-accent-colors, 5),
  nth($solarized-accent-colors, 1),
  nth($solarized-accent-colors, 2);

$i: 1;
@each $color in $roundColors {
  .Game-round-#{$i} {
    .RoundBadge {
      background-color: $color;
    }
    .Bacronym.selected {
      &,&:hover i {
        color: rgba(#fff, 0.9);
      }
      .checkHolder {
        background-color: $color;
        border:1px solid $color;
      }
    }
    .Bacronym:hover {
      .checkHolder {
        border-color: $color;
      }
      i {
        color: $color;
      }
    }
  }
  $i: $i + 1;
}


.ScoreBoard {
  width:48%;  
  float:left;
  padding:0 1rem;
}


.Game-round, .Game-phase {
  font-family: 'Open Sans';
  text-transform: uppercase;
  margin-bottom:0;
  color: rgba(#fff, 0.6);
  text-align: center;
}

.Game-phase {
  margin:0;
  font-size: $font-size-h3;
}


.Game-bacronym-form {
  padding-top:1.8rem;
}

.Game-userBacronym {
  font-size:3rem;
  line-height:1;
  font-family: 'Open Sans', sans-serif;
  &.no-bacronym {
    font-style: italic;
    color:$cBase5;
  }
}

.Game-userBacronym-header {
}

.Bacronym {
  cursor:pointer;
  width:auto;
  display:inline-block;
  span {
    vertical-align:middle;
    font-size: $font-size-h4;
    color:$cBase4;
    line-height:$font-size-h4;
  }
  .checkHolder {
    width:3rem;
    height:3rem;
    border:1px solid $cBase7;
    display:inline-block;
    margin-right:1rem;
    text-align:center;
  }

  &:hover {
    span {
      color:$cBase2;
    }
  }

  i {
    vertical-align:middle;
    font-size: $font-size-h4;
    text-align:center;
    line-height:3rem;
    color:$cBase8;
    display: inline-block;
  }

  &.selected {
    span {
      color: $cBase2;
    }
    i {
      color: rgba(#fff, 0.9); 
    }
  }
}



@media screen and (min-width:$screen-sm-min) {
  .RoundBadge {
    float:none; 
    width:auto;
    margin-right:0;
  }
  .ScoreBoard {
    width:auto;
    float:none;
  }
}

@media screen and (min-width:$screen-sm-min) {
  /*
  [class^="Game-Panel-"] {
    float: left; 
  }
  .Game-Panel-left {
    width: 20rem;
    float:left;
    margin-right:4rem;
    .UserList {
      padding: 0 2rem;
    }
  }

  .Game-Panel-main {
  }
  
  .Game-MainComponent {
    min-height:13rem;
    margin-bottom:3rem;
  }
*/
  .Bacronyms {
    
  }

  .Bacronym {
    padding: 0.6rem 1rem;
    margin-right:2rem; 
  }

}

@media (min-width:$screen-lg-min){
  .Game .Chat, .Game .Chat-input, .Game .Chat-chats {
    height:100%;
  }
  .Game .Chat {
    padding-bottom: 6rem;
  }
}




.Acronym {
}

.Acronym-acronym {
  @extend .text-jumbo;
  font-family: 'Source Code Pro', monospace;
  line-height:6rem;
  margin-bottom:0rem;
  text-align: center;
}

.acronym-len-5 {
  font-size: 5rem;
}

.acronym-len-6 {
  font-size: 4rem;
}

.acronym-len-7 {
  font-size: 3rem;
}





.Game-bacronymInput {
  margin-bottom:3rem;
}

