.Game {
}
.Game-header {
}

.Game-roundHead,
.Game-roundMain,
.Game-roundFoot {
  color:rgba(#fff, 0.8);
  font-size: 1.4rem;
}

.Game-acronym {
  font-size: 5rem;
  color: $solarized-blue;
  font-family: 'Source Code Pro', monospace;
  font-weight:bold;
}

.ScoreBoard {
  width:48%;
  float:left;
  padding:0 1rem;
}


.Game-round, .Game-phase {
  font-family: 'Open Sans';
  text-transform: uppercase;
  margin-bottom:0;
  color: rgba(#fff, 0.6);
  text-align: center;
}

.Game-phase {
  margin:0;
  font-size: $font-size-h3;
}


.Game-bacronym-form {
  padding-top:1.8rem;
}

.Game-userBacronym {
  font-size:2rem;
  line-height:1;
  font-family: 'Open Sans', sans-serif;
  padding-left: 0.4em;
  &.no-bacronym {
    font-style: italic;
    color:$cBase5;
  }
}

.Game-userBacronym-header {
}

.Bacronym {
  cursor:pointer;
  width:auto;
  display:inline-block;
  span {
    vertical-align:middle;
    font-size: $font-size-h4;
    color:$cBase4;
    line-height:$font-size-h4;
  }
  .checkHolder {
    width:3rem;
    height:3rem;
    border:1px solid $cBase7;
    display:inline-block;
    margin-right:1rem;
    text-align:center;
  }

  &:hover {
    span {
      color:$cBase2;
    }
  }

  i {
    vertical-align:middle;
    font-size: $font-size-h4;
    text-align:center;
    line-height:3rem;
    color:$cBase8;
    display: inline-block;
  }

  &.selected {
    span {
      color: $cBase2;
    }
    i {
      color: rgba(#fff, 0.9);
    }
  }
}



@media screen and (min-width:$screen-sm-min) {
  .RoundBadge {
    float:none;
    width:auto;
    margin-right:0;
  }
  .ScoreBoard {
    width:auto;
    float:none;
  }
}



.Game-bacronymInput {
  margin-bottom:2rem;
}

