.Intro-pane {
  color: rgba(#fff, 0.8);
  margin-bottom: 0;
  padding-top: 0;

  @media (min-width: $screen-sm-min) {
    padding-top: 2rem;
  }


  h1 {
    font-size:4rem;
    display:inline-block;
    margin-right:1rem;
  }
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    &.Intro-blurb {
      margin-bottom: 3rem;
    }
  }

  .larger {
    font-size: $font-size-h3;
  }
  h4 {
    color: rgba(#fff, 0.6);
  }
}

.auth-form {
  margin-top: 5rem;
}

.play-bacro {
  margin-right: 1rem;
  text-transform: uppercase;
}

.index-username {
  color: $cBase3;
}

.Intro-brand {
  color: white;
  font-weight: bold;
}

.Intro-letter {
  font-weight: bold;
  color:white;
}
