/*
.Gamelist-game {
  cursor: pointer;
  display:block;
  font-family: 'Open Sans', sans-serif;
  h4, p {
    display:inline-block;
    text-transform:uppercase;
  }

  h4 {
    min-width:12rem;
    text-align:right;
    margin-right:1rem;
  }
}
*/

$watch: $solarized-violet;
$join: $solarized-cyan;

.Gamelist-btn {

}

.Gamelist-game {
  cursor: pointer;
  width: 100%;
  padding: 1rem 1.4rem;
  display: block;
  border: 1px solid $cBase7;
  border-radius: 6px;
  margin-bottom: 2rem;

  &[data-state="new"] {
    border-color: $join;
    color: $join;
    &:hover {
      border-color: darken($join, 10%);
      color: darken($join, 10%);
    }
  }

  &[data-state="started"] {
    border-color: $watch;
    color: $watch;
    &:hover {
      border-color: darken($watch, 20%);
      color: darken($watch, 20%);
    }
  }

  &:hover {
    text-decoration: none;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    vertical-align: middle;
    font-size: 2.4rem;
    margin-right: 1rem;
    opacity: 0.8;
  }

}

.Gamelist-game-state {
  display: inline-block;
  width: 6rem;
  margin-right: 1rem;

    background: $brand-primary;
    color: rgba(#fff, 0.9);


}

.Gamelist-game-body {
  font-size: 1.6rem;
  line-height: 2.2rem;
  vertical-align: middle;
  //color: $cBase2;
  //.Gamelist-game:hover & {
    //color: $brand-primary;
  //}
  //.Gamelist-game[data-state="new"]:hover & {
    //color: $join;
  //}
  //.Gamelist-game[data-state="started"]:hover & {
    //color: $watch;
  //}
}

.Lobby-quickPlay,
.Lobby-createGame {
  width: 100%;
  margin-bottom: 3rem;
}

.Lobby-playControls {
  max-width: $screen-md-min;
}

@media (min-width: $screen-lg-min) {
  .Lobby-playControls {
      margin-left: auto;
      margin-right: auto;
  }
}

.Lobby .Panel-header {
  margin-bottom: 2rem;
}
