html, body, .Panel, .Panel-body, .Panel-fh-row {
  height: 100%;
}

.site-nav {
  position:absolute;
  top:0;
  width:100%;
  border-bottom:1px solid $cBase7;
}

.Panel {
  padding-top:9rem;
}


.Panel-right {
  clear:both;
}


.Panel-main {
  margin-bottom:4rem;
}



@media (min-width:$screen-lg-min){
  .Panel-left, .Panel-main, .Panel-right { 
    height:100%;
  }

  .Panel-right {
    clear: none;
  }
  
  .Panel-main {
    margin-bottom:0;
  }
}
