html, body, .Panel, .Panel-body, .Panel-fh-row {
  height: 100%;
}

.site-nav {
  position:absolute;
  top:0;
  width:100%;
}

.Panel {
}


.Panel-right {
  clear:both;
}


.Panel-main {
  margin-bottom:4rem;
}

.Panel-header {
  @include background-image(
    linear-gradient(top, rgba(#000, 0), rgba(#000, 0.2)),
    linear-gradient(90deg, $solarized-blue, $solarized-magenta)
  );
  box-shadow: 0 0 20px 0 rgba(#000,0.5);
  border-bottom: 1px solid rgba(#000, 0.5);
  padding-top: 2rem;
}


