body {
  color: $cBase3;
}
h1,h2,h3,h4 {
  font-weight:normal;
  color:$cBase5;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.smallArrow {
  font-size:60%;
  vertical-align: middle;
  line-height:1;
}

.text-jumbo {
  font-size: 6rem;
}
