.UserList {
}

.UserList-list {
  overflow-y: auto;
  height:20rem;
  font-family:'Open Sans', sans-serif;
  text-transform:uppercase;
  @extend %shadowScroll;
  li {
    @extend .clearfix;
    font-size:16px;
  }
}

.UserList-user {
  float:left;
}

.UserList-score {
  float:right;
  font-weight:600;
}
