$navbar-default-border: none;
$navbar-border-radius: 0;
$navbar-default-color: $cBase7;
$navbar-default-link-color: $cBase7;
$navbar-default-link-hover-color: $cBase7;
$navbar-default-link-hover-bg: $cBase1;
$navbar-default-brand-hover-bg: $cBase1;

