$brand-primary: $solarized-cyan;
$grid-float-breakpoint: 768px;

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$navbar-default-border: none;
$navbar-border-radius: 0;
$navbar-default-bg: $cBase8;
$navbar-default-color: rgba(#fff, 0.8);
$navbar-default-link-color:         $navbar-default-color;
$navbar-default-link-hover-color:   $navbar-default-color;
$navbar-default-brand-color:        $navbar-default-color;
$navbar-default-brand-hover-bg:     $navbar-default-color;
$navbar-default-brand-hover-color:  $navbar-default-color;

$navbar-default-toggle-hover-bg:      transparent;
$navbar-default-toggle-icon-bar-bg:   $navbar-default-color;
$navbar-default-toggle-border-color:  $navbar-default-color;

$breadcrumb-color: $navbar-default-color;
$breadcrumb-active-color: white;

$breadcrumb-bg: transparent;
$breadcrumb-padding-vertical: 16px;
$breadcrumb-seperator: "";

$btn-default-color: rgba(#fff, 0.8);
$btn-primary-color: rgba(#fff, 0.8);

$jumbotron-bg: transparent;
