$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "bourbon/dist/bourbon";
@import "colors";
@import "variables";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";


@import "type";
@import "panelLayout";
@import "holyGrail";
@import "TimerBg";
@import "shadowScroll";
@import "game";
@import "lobby";
@import "chat";
@import "userList";


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
  @extend .PanelLayout;
  background: $cBase8;
  padding-top:5.5rem;
}


.navbar {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  box-shadow: 0px 0px 20px 0px $cBase6;
}

.navbar-brand {
  font-size:3rem;
}

.site-nav {
  height:5.5rem;
  z-index:10;
  .navbar-nav.navbar-right > li > a {
    font-size:1.4rem;
    padding-top:2rem;
    padding-bottom:1rem;
  }
}

.breadcrumb {
  margin-bottom:0;
  padding-top:1.6rem;
  padding-bottom:1rem;
  & > li + li:before {
    display:none;
  }
  a {
    font-size: 1.6rem;
    color:$cBase4;
    text-transform: uppercase;
    font-family:'Open Sans';
    &:hover {
      color:$cBase2;
      text-decoration: none;
    }
  }
}

a.siteTitle {
  font-family: 'Open Sans';
  font-size: 3rem;
  line-height:0.6;
  margin-right:1rem;
}

.jumbotron {
  h1 {
    font-size:4rem;
    display:inline-block;
    margin-right:1rem;
  }
  h3 {
    display:inline-block;
    color: $cBase4;
  }
  h1, h3 {
    span {
      color:$solarized-red;
    }
  }
}

@media screen and (min-width: 768px) {
    .container {
    }


}
