$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "colors";
@import "variables";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";

@import "bourbon/dist/bourbon";
@import "scrollbox";
@import "type";
@import "game";
@import "chat";
@import "userList";


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
  background: $cBase8;
}

.navbar {
  margin-bottom:0;
}

.scrolled {
  border-top: 1px solid $cBase7;
  @include radial-gradient(50% 10px at 50% 0, $cBase7 10%, $cBase8 100%);
}

.site-nav {
  @include linear-gradient($cBase2, $cBase1);
  margin-bottom:2rem;
}


.x-small {
  font-size:0.7em;
  line-height:1;
}

@media screen and (min-width: 768px) {
    .container {
    }


}
