$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "bourbon/dist/bourbon";
@import "colors";
@import "variables";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";


@import "type";
@import "panelLayout";
@import "scrollbox";
@import "game";
@import "chat";
@import "userList";


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
  @extend .PanelLayout;
  background: $cBase8;
}



.navbar {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.navbar-brand {
  font-size:3rem;
}

.site-nav {
}

.breadcrumb {
  margin-bottom:0;
  padding-left:0;
  & > li + li:before {
  }
  a {
    font-size: 1.6rem;
    color:$cBase5;
    text-transform: uppercase;
    font-family:'Open Sans';
    &:hover {
      text-decoration: none;
    }
  }
}

a.siteTitle {
  font-family: 'Open Sans';
  font-size: 3rem;
  line-height:0.6;
  margin-right:1rem;
  color: $solarized-red;
}



@media screen and (min-width: 768px) {
    .container {
    }


}
