.game-panel {
  min-height: 15rem;
}

#Game {
}

.acronym {
  font-weight:300;
  color: $solarized-red;
}

.acronym-lg {
  @extend .acronym;
  @extend .kilo;
  @extend .text-center;
}

.bacronym-form {
  @extend .FlexInput; 
  clear: both;
}
#bacronym-input { @extend .FlexInput-field; }
#bacronym-button { @extend .FlexInput-item; @extend .btn-pri; }

#game-status {
  padding:0.2rem 0 0;
}


#round {
  @extend .beta; 
  margin:0;
  float:left;
}

#time {
  @extend .beta; 
  float:right;
  text-align: right;
  margin:0;
}
