extends layout

block content
  .r.game-panel
    .g-3
      #game-status
        #round ROUND 1
        #time 3:00
      #Players
        ul.player-list 
          if game.users
            each user in game.users
              li= user.dispname
    .g-9
      #Game
        .acronym-lg(data-bind='text: acronym')
        form.bacronym-form(data-bind="submit: bacronymSubmit", action="/", method="POST")
          input#bacronym-input(data-bind="value: bacronymInput",type="text"
            name="bacronym-input", autofill="off",
            placeholder="Type a bacronym and hit enter or press BACRO! -->")
          button#bacronym-button(type="submit") Bacro!

  .r
    .g-12
      //form.Chat(data-bind="submit: chatViewModel.chatSubmit")
      form#Chat.Chat
        h2.Chat-header Chat 
          span.delta.lighter but please don't be a dink

        .FlexInput
          input#Chat-input(name="Chat-input",placeholder="Chat goes here!")
          button#Chat-button(name="Chat-button") CHAT  
        #Chat-chats.Chat-chats
