extends layouts/default

block content
  .container
    .row
      .col-xs-12
        .jumbotron
          h1
            span B
            span a
            span c
            span r
            span o
          p Bacro is a multiplayer game where you make bacronyms to earn other players' votes.
          h4 Example:
          p.larger
            span B
            | acro: 
            span A
            | cronyms' 
            span C
            | omical 
            span R
            | oots 
            span O
            | nline 


          form.form-horizontal(action="/users", method="post", role="form")
            input(type='hidden', name='_csrf', value="#{csrftoken}")
            .form-group
              .col-sm-12
                button.btn.btn-primary.btn-lg(type='submit') Play Bacro
