extends layout


block content
  .r.body-top
    .g-12.blurb
      p.alpha-lh
        span.hilight-color BACRO
        |  is a multi-player game where people create 
        a(href="http://en.wikipedia.org/wiki/Bacronym") bacronyms
        |  to earn each other's votes.
  .r
    .g-12
      h2.header-fancy Example
      p.beta
        span.hilight-color B
        | acro  
        span.hilight-color A
        | ims for 
        span.hilight-color C
        | huckles 
        span.hilight-color R
        | esulting in 
        span.hilight-color O
        | bituaries 
  .r-pad-top
    .g-12
      if user
        playNowLink = "/lobby"
      else
        playNowLink = "/auth/google"
      a.play-now(href=playNowLink) Play now
      p.lighter.zeta.leading-tight
        if !user
          | It's completely free, no in-app purchases or any of that malarkey.
          | Sign in is with Google, but your email or other infomation is never
          | displayed to other players. 
          | Bacro stores only your email, just to verify that it's you.
