extends layouts/default




block content
  .container
    .row
      .col-xs-12
        .jumbotron
          h1
            span B
            span a
            span c
            span r
            span o
          p Bacro is a multiplayer game where you make bacronyms to earn other players' votes.
          h4 Example:
          p.larger
            span B
            | acro: 
            span A
            | cronyms' 
            span C
            | omical 
            span R
            | oots 
            span O
            | nline 
          br
          a.btn.btn-primary(href='/auth/google') Play now
          br 
          br
          small Login with Google. No personal data will be displayed to any other user nor shared with anyone else.

        

