extends layout

block content
  .r
    h1.pull-left Games  
    a.new-game(href="/game/new")
      i.icon-plus
      | New Game
  .r
    #gameList
      if !games
        p.no-games.beta No games found 
      else
        each game in games
          .game
            = game.id 
            | 
            a.game-date= game.created.toString().split(" ").slice(1,5).join(" ")
            

  .r
    .g-12
      form#Chat.Chat
        h2.Chat-header Chat 
          span.delta.lighter but please don't be a dink

        .FlexInput
          input#Chat-input(name="Chat-input",placeholder="Chat goes here!")
          button#Chat-button(name="Chat-button") CHAT  
        #Chat-chats.Chat-chats(data-bind="value: chats")

