extends layout

block content
  .r
    h1.pull-left Games  
    a.new-game(href="/game/new")
      i.icon-plus
      | New Game
  .r
    if !gameList
      p.beta No games found 
  .r
    .g-12
      h2 Chat
      textarea.ChatWindow(name="chat")

